<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Animal Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header> Animal-Game</ion-list-header>
    <ion-item *ngFor="let animal of animalList"> 
      
      <ion-avatar slot="start">
        <ion-img src="/assets/{{ animal.image}}" *ngIf="animal.image"></ion-img>
      </ion-avatar>
        
      <ion-label>{{animal.title}}         
        <p>{{animal.desc}}</p>
        </ion-label>
    </ion-item> 
  </ion-list>
</ion-content>
